body {
    flex-direction: column;
    line-height: 1.3;
}

main {
    margin: 0;
    background-color: plum;
}

header {
    position: relative;
    height: 200px;
    background-color: aqua;
}

header h1 {
    position: absolute;
    font-size: 300%;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: fit-content;
}

nav {
    background-color: yellow;
    height: 50px;
}

ul {
    display: flex;
    justify-content: end;
    flex-direction: row;
    min-width: 300px;
    align-items: center;
    height: inherit;
}

a {
    color: #b9c6ae;
    font-weight: bold;
    text-decoration: none;
}

li {
    color: #b9c6ae;
    width: 75px;
    text-align: center;
}

.about-me, .work, .contact-me {
    display: flex;
}

.aAbout-me, .aWork, .aContact-me  {
    display: flex;
    justify-self: end;
    margin: 10px;
    width: 22vw;
    border-right: 5px solid rebeccapurple;
}

aside h2 {
    font-size: 250%;
    flex-wrap: wrap;
    text-align: center;
}

.sAbout-me, .sWork, .sContact-me {
    width: 100vw;
    height: fit-content;
}

.sAbout-me {
    margin: 10px;
    
}

.sAbout-me p {
    margin: 5px;
    text-align: center;
    font-weight: 550;
}

.card, .main-card {
    position: relative;
    margin: 25px;
    border: 5px solid black;
    border-radius: 25px;
    box-shadow: 10px 10px rebeccapurple;
}

.card h3, .main-card h3 {
    font-size: 400%;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: fit-content;
    position: absolute;
}

.main-card {
    height: 50vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    height: 25vw;
}

.aContact-me {
    align-items: center;
}

.sContact-me li {
    align-items: center;
    width: fit-content;
}

.sContact-me {
    height: 15vw;
}

footer {
    background-color: plum
}

footer ul {   
    justify-content: space-between;
    margin-right: 50px;
    margin-left: 25px;
}