:root {
    --light-purple: plum;
    --purple: rgb(209, 15, 209);
    --dark-purple: rebeccapurple;
    --card-text-color: rgb(31, 192, 31);
    --card-glow-start: rgba(27, 236, 19, 0.795);
    --card-glow-end: rgb(26, 236, 19);
}

 body {
    flex-direction: column;
    line-height: 1.3;
}

main {
    margin: 0;
    background-color: var(--light-purple);
}

header {
    position: relative;
    height: 200px;
    background-color: aqua;
}

header h1 {
    position: absolute;
    font-size: 300%;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: fit-content;
}

nav {
    background-color: var(--purple);
    height: 50px;
}

ul {
    display: flex;
    justify-content: end;
    flex-direction: row;
    min-width: 300px;
    align-items: center;
    height: inherit;
}

a {
    color: #b9c6ae;
    font-weight: bold;
    text-decoration: none;
}

li {
    color: #b9c6ae;
    width: 75px;
    text-align: center;
}

.about-me, .work, .contact-me {
    display: flex;
}

.aAbout-me, .aWork, .aContact-me  {
    display: flex;
    justify-self: end;
    margin: 10px;
    width: 22vw;
    border-right: 5px solid var(--dark-purple);
}

aside h2 {
    font-size: 250%;
    flex-wrap: wrap;
    text-align: center;
}

.sAbout-me, .sWork, .sContact-me {
    width: 100vw;
    height: fit-content;
}

.sAbout-me {
    margin: 10px;
    
}

.sAbout-me p {
    margin: 5px;
    text-align: center;
    font-weight: 550;
}

.card, .main-card {
    position: relative;
    margin: 25px;
    border: 5px solid black;
    border-radius: 25px;
    box-shadow: 10px 10px var(--dark-purple);
}

.card h3, .main-card h3 {
    font-size: 400%;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: fit-content;
    position: absolute;
    text-decoration: none;
    color: green;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px var(--card-glow-start), 0 0 30px var(--card-glow-start), 0 0 40px var(--card-glow-start), 
            0 0 50px var(--card-glow-start), 0 0 70px var(--card-glow-start);
    }

    to {
        text-shadow: 0 0 10px #fff, 0 0 20px var(--card-glow-end), 0 0 30px var(--card-glow-end), 0 0 40px var(--card-glow-end), 
            0 0 50px var(--card-glow-end), 0 0 60px var(--card-glow-end), 0 0 70px var(--card-glow-end);
    }
}

.main-card {
    height: 50vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    height: 25vw;
}

.aContact-me {
    align-items: center;
}

.sContact-me li {
    align-items: center;
    width: fit-content;
}

.sContact-me {
    height: 15vw;
}

footer {
    background-color: var(--light-purple)
}

footer ul {   
    justify-content: space-between;
    margin-right: 50px;
    margin-left: 25px;
}